.appBar {
    flex-grow: 1;
    align-items: center
}

.appBar div {
    cursor: default;
    display: flex;
    align-items: center;
    font-family: Comic Sans MS;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    /* margin: 1rem 0; */
    border-radius: 4px;
    height: 1.5rem;
}

.hideBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: Comic Sans MS;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.hideBtn:hover {
    text-shadow: 0 0 2px #2b002b, 0 0 25px #FD02EF, 0 0 5px #FD02EF;
    background-color: transparent;
    border: 1px solid #FD02EF;
}

.appBar .btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: Comic Sans MS;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 64px;
    padding: 6px 8px;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.appBar .btn:hover {
    text-shadow: 0 0 2px #2b002b, 0 0 25px #FD02EF, 0 0 5px #FD02EF;
    background-color: transparent;
    border: 1px solid #FD02EF;
}

.btnGold {
    width: 100%;
    color: white;
    background-color: #FD02EF;
    text-transform: capitalize;
    font-family: Comic Sans MS;
}

.btnGold:hover,
.btnGold:focus,
.btnGold.active {
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #FD02EF;
    box-shadow: 0 0 2px #2b002b, 0 0 25px #FD02EF, 0 0 5px #FD02EF;
    text-shadow: 0 0 2px #2b002b;
    /* color: white; */
}