.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 6.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start
  }
  
  .background {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url("../public/assets/pink_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .subtitle {
    color: #fafafa;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: 1.15;
    font-size: 2rem;
    font-family: Comic Sans MS;
  }

  .showInfo .btn {
    text-transform: capitalize;
    font-family:Comic Sans MS;
    color: white;
    display: block;
    min-width: 100%;
    background-color: transparent;
    border: 1px solid #FD02EF;
    margin-bottom: 1rem;
}

.showInfo .btn:hover {
    color: white;
    background-color: #FD02EF;
    text-decoration: none;
}
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    color: #fafafa;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Comic Sans MS;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  .tabBox {
    display: flex;
    justify-content: center;
  }
  
  .tabBox .tab {
    padding: 20px 15px;
  }
  
  .time {
    margin-top: 1.125rem;
    margin-bottom: 2.25rem;
    font-size: 3rem;
    color: #eaeaea;
    font-family: Comic Sans MS;
  }
  
  .text {
    margin-top: 1.125rem;
    margin-bottom: 2.25rem;
    font-size: 1.5rem;
    color: #eaeaea;
  }
  
  .btnSize {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
  }
  
  .btnGold {
    width: 81.5%;
    color: white;
    background-color: #FD02EF;
    margin-bottom: 4rem;
  }
  
  .btnGold:hover,
  .btnGold:focus,
  .btnGold.active {
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #FD02EF;
    box-shadow: 0 0 2px #2b002b, 0 0 25px #FD02EF, 0 0 5px #FD02EF;
    text-shadow: 0 0 2px #2b002b;
    /* color: white; */
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }