html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.background {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-image: url("../assets/purple_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}